<main *ngIf="!loading">
    <h1>{{form.value.id ? 'Editar' : 'Crear'}} marca</h1>
    <mat-card>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px"
        fxLayoutAlign="flex-start">
            <mat-form-field fxFlex="0 1 calc(50% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <input matInput formControlName="name" placeholder="Nombre">
                <mat-error>Nombre requerido</mat-error>
            </mat-form-field>
            <div class="button-container" fxFlex="100%">
                <button mat-flat-button color="primary">Guardar</button>
            </div>
        </form>
    </mat-card>

</main>
<app-loading-fullpage *ngIf="loading"></app-loading-fullpage>